<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ページタイトル -->
  <title><%= title %> ❘ AHAの創作ログ</title>
  
  <!-- SEO用 -->
  <meta name="description" content="αhの世界観や制作記録をまとめたブログです。" />
  <meta name="keywords" content="αh, 創作, 世界観, ブログ, Node.js, Markdown" />
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <!-- ヘッダー -->
  <header>
    <h1><a href="/" class="logo">AHAの創作ログ</a></h1>
  </header>

<div class="containers">

  <div class="sidebar">
    <p></p>
    <nav>
      <ul>
        <li><a href="/terms">ガイドライン</a></li>
        <li><a href="https://form.run/@tkg-skeleton-7EuPdwsu1Em4ra1tvIVm">お問合せ</a></li>
      </ul>
    </nav>
  </div>
  <!-- メインコンテンツ -->
  <main>
    <div class="article"><%- content %></div>


  </main>

</div>
  
  <!-- フッター -->
  <footer>
    <h1><a href="/" class="logo">AHAの創作ログ</a></h1>
    <div class="footer-rights">
      <h2><a href="https://www.youtube.com/channel/UCiGEI4ZMuDNYV7InEkZJrIQ">Youtube</a></h2>
      <h2><a href="https://x.com/AHAHAHAHA78">X(twitter)</a></h2>
    </div>
  </footer>
</body>
</html>