<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ページタイトル -->
  <title>ガイドライン❘ AHAの創作ログ</title>
  
  <!-- SEO用 -->
  <meta name="description" content="αhの世界観や制作記録をまとめたブログです。" />
  <meta name="keywords" content="αh, 創作, 世界観, ブログ, Node.js, Markdown" />
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <!-- ヘッダー -->
  <header>
    <h1><a href="/" class="logo">AHAの創作ログ</a></h1>
  </header>

<div class="containers">

  <div class="sidebar">
    <p></p>
    <nav>
      <ul>
        <li><a href="/terms">ガイドライン</a></li>
        <li><a href="https://form.run/@tkg-skeleton-7EuPdwsu1Em4ra1tvIVm">お問合せ</a></li>
      </ul>
    </nav>
  </div>
  <!-- メインコンテンツ -->
  <main>
    <div class="article">
        <h2>ガイドライン</h2>
        <p> <span>「AHAコンテンツ」二次創作ガイドライン </span> <br>
        本ガイドラインは、"αhバース"および"AHAbotバース"を含む、AHAが制作したすべてのコンテンツ（以下「本コンテンツ」）の二次創作活動に関する指針を定めます。
        本ガイドラインは、AHA自身によって予告なく変更される場合があります。</p>
        <h2>1. 著作権と禁止事項</h2>
        <p>本コンテンツの著作権は、すべてAHAに帰属します。以下の行為は固く禁じます。<br>
            <span>本コンテンツの無断転載・自作発言:</span> 本コンテンツのイラスト、文章、動画、デザインなどの全部または一部を、許可なく転載・複製すること。
            また、あたかも自身が制作したかのように発表する行為（自作発言）を禁止します。<br>
            <span>本コンテンツの改変: </span>本コンテンツのイメージや内容を著しく損なうような改変行為を禁止します。<br>
            <span>政治的・思想的意図での利用: </span>本コンテンツを特定の政治、宗教、または思想の主張を広める目的で利用することを禁止します。
            本コンテンツは、利用者の意見を代弁するものではありません。</p>
        <h2>2. 営利目的での利用</h2>
        <p>二次創作物の営利目的での利用には、原則としてAHAの許可が必要です。ただし、以下の場合は、二次創作ガイドラインの範囲内で許可します。<br>
            <span>動画投稿サイトでの収益化:</span> YouTubeなどの動画共有サイトに二次創作動画を投稿し、広告収益を得る行為は許可します。<br>
            <span>その他の収益化: </span>動画の収益化以外の二次創作物の収益化（グッズ販売、同人誌など）については、別途お問い合わせください。</p>
        <h2>3. 登場人物への配慮</h2>
        <p>本コンテンツに登場する一部のキャラクターは、実在する人物をモデルにしています。以下の事柄にご協力をお願いします。<br>
            <span>非公開要請への対応:</span> モデルとなった人物（AHA本人を含む）が不快感を示した場合、たとえ本ガイドラインに違反していなくても、
            該当する二次創作物の削除、非公開、または修正をお願いする場合があります。<br>
            <span>誹謗中傷の禁止:</span>モデルとなった人物、およびキャラクターに対する誹謗中傷、名誉棄損にあたる表現を禁止します。</p>
        <h2>4. クレジット表記</h2>
        <p>二次創作物を公開する際は、以下のクレジット表記をお願いします。<br>
            <span>表記方法:</span>「AHAコンテンツ」「αhバース」「AHAbotバース」などの名称を明記し、可能であればAHAのYouTubeチャンネルへのリンクを掲載してください。</p>
        <h2>5. ガイドラインの変更</h2>
        <p>本ガイドラインは、予告なく変更される場合があります。ただし、ガイドラインの変更が過去の活動に遡及して適用されることは原則としてありませんので、ご安心ください。</p>
        <h2>ガイドライン変更ログ</h2>
        <p>2025/9/16: ガイドラインを設定</p>
    </div>
    <div>XEXylq-2 2025</div>


  </main>

</div>
  
  <!-- フッター -->
  <footer>
    <h1><a href="/" class="logo">AHAの創作ログ</a></h1>
    <div class="footer-rights">
      <h2><a href="https://www.youtube.com/channel/UCiGEI4ZMuDNYV7InEkZJrIQ">Youtube</a></h2>
      <h2><a href="https://x.com/AHAHAHAHA78">X(twitter)</a></h2>
    </div>
  </footer>
</body>
</html>